:root {
  --border-radius: 12px;

  --midnight: #24272e;
  --light-black: #31343d;
  --border: #3c3c4a;

  --primary-text: #c4cbda;
  --secondary-text: #9099ac;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
